<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <link rel="stylesheet" href="/public/styles.css">

  <script src="/public/socket.io.js"></script>
</head>

<body>
<header>
  <div class="container">
    <h1><a href="/"></a></h1>
  </div>
</header>
<footer>
  <div class="container">
    <p>Posts are also available via json at <a href="/api/posts">/api/posts</a>/
  </div>
</footer>

<div id='log'></div> 
  <input type='text' id='custMes' /> 
  <button type='button' id='sendCustMes'>Brodcast</button> 
</script> 

<script type="text/javascript">
  var socket = io.connect('http://localhost:5000');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });

  setTimeout(test, 2000)
  function test(){
    console.log('out')
    socket.emit('private message', { my: 'private message' });
  }
</script>
</body>
</html>